body {
    min-height: 100vh;
}
main#main-page {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}
.custom-scrollable {
    /*overflow-y: scroll;*/
    /*padding-right: 10px;*/
}
.custom-scrollable::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollable::-webkit-scrollbar-track {
    background: #020509;
}
.custom-scrollable::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #0D47A1;
    background-image: linear-gradient(to top, #0D47A1 0%, #2196F3 100%);
}
#sidebar-nav .nav-link {
    color: #a2a3b7;
    transition: none;
    border-radius: 0;
}
#sidebar-nav .nav-link.active,
#sidebar-nav .nav-link.collapse-btn:not(.collapsed) {
    background: #12121c;
    color: #ffffff;
}
#sidebar-nav .nav-link.active .nav-item-icon,
#sidebar-nav .nav-link.collapse-btn:not(.collapsed) .nav-item-icon{
    color: #3699FF;
}
#sidebar-nav .nav-link:hover {
    background: #12121c;
    color: #ffffff;
}
#sidebar-nav .nav-link:hover .nav-item-icon {
    color: #3699FF;
}
#sidebar-nav .nav-link i.fa-chevron-right {
    transition-duration: 0.25s;
}
#sidebar-nav .nav-link:not(.collapsed) i.fa-chevron-right {
    transform: rotate(90deg);
}
#sidebar-nav ul.sidebar-sub-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sidebar-nav ul.sidebar-sub-nav li a {
    padding-left: 45px;
}
